<footer class="text-center text-lg-start border-top-3 w-100" style="background: #2c9ada;">
    <div class="container-fluid pt-3">

        <div class="row">
            <div class="col-md-2 text-center">
                <img class="mb-2" src="images/light_logoo.png" style="width: 170px; height: 90px;">
            </div>

            <div class="col-md-5">
                <h6 class="text-uppercase ms-2 fw-bold text-center" style="color: rgb(255, 234, 0);">Localização
                </h6>
                <p class="text-start text-light small mt-2 ms-2 text-center"><i class="bi bi-geo-alt me-2"></i>Rua
                    Segundo
                    Tenente
                    Aluisio
                    de Farias, 141 Jardim Santa Mena - Guarulhos, SP</p>
            </div>

            <div class="col">
                <h6 class="text-uppercase text-center fw-bold" style="color: rgb(255, 234, 0);">Contato</h6>
                <p class="text-white small text-center ms-2"><i
                        class="bi bi-envelope me-2"></i>parceria@apaeguarulhos.org.br
                </p>
                <p class="text-white small text-center ms-2"><i class="bi bi-telephone me-2"></i>(11) 2442-6439
                </p>
            </div>


            <!-- Redes sociais + Logo -->
            <div class="col">
                <h6 class="text-uppercase text-center fw-bold me-2 my-" style="color: rgb(255, 234, 0);">Redes
                    sociais</h6>

                <ul class="list-unstyled text-center">
                    <li>
                        <a class="btn btn-outline-light btn-floating me-2 text-end"
                            href="https://www.facebook.com/apae.guarulhos" role="button">
                            <i class="bi bi-facebook"></i></a>

                        <a class="btn btn-outline-light btn-floating me-2 text-end"
                            href="https://www.instagram.com/apae_guarulhos/" role="button">
                            <i class="bi bi-instagram"></i></a>

                        <a class="btn btn-outline-light btn-floating me-2 text-end"
                            href="https://www.youtube.com/channel/UCKR7S6fCXGoUp2y5cVCQJmw" role="button">
                            <i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Copyright -->
    <div class="container-fluid" style="background: #164b84;">
        <div class="row">
            <div class="col">
                <p class="text-start text-white small pt-2 ms-2 mb-2">&#169 Copyright 2023. Todos os
                    direitos
                    reservados
                    a Apae
                    Guarulhos.</p>
            </div>
            <div class="col">
                <p class="text-end text-white small pt-2 me-2 mb-2">Designed by Gustavo, Melissa, Murillo,
                    Murilo</p>
            </div>
        </div>
    </div>
    
</footer>