php_value include_path '.;C:\xampp\php\PEAR;C:\xampp\htdocs\Novo_APAE'

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/routes/routes2.php [QSA,L]
