@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Poppins:ital,wght@0,200;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400&display=swap');

/* carrosel */
.containerEmpresas{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  
}

.texto_parceiro {
  text-align: center
}

.wrapper {

    max-width: 1400px;
    width: 100%;
    position: relative;

  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -45px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    padding: 15px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #2c53ff;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  
/* texto de contrinuição */

.texto_inicial{
  font-family: 'poppins', serif;
  padding: 10px;
  margin-left: 100px;

}

.container_text{
  
  display: flex; 
  align-items: center;
  justify-content: center; 
  padding: 40px;
  width: 100%;

}

.texto1{
  width: 500px;
}

.imagem1 img{
  width: auto; 
  height: 500px; 
  pointer-events: none;
}

@media (max-width: 1153px){
  .container_text{
    width: 100%;
    margin: auto;
    margin-left: none;

  }

  .texto1{
    width: auto;
  }

  .imagem1 img{
    width: auto; 
    height: 300px; 
   
  }

}

@media (max-width: 804px){
  .container_text{
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .texto_inicial{
    margin-left: 0;
  }

 
}


.row {
  text-align:justify;
}
.card {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.card-shadow:hover {
box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2),
  0 6px 15px 0 rgba(0, 0, 0, 0.19);
transition: 0.5s;
transform: scale(1.05);
}

.card-shadow:not(:hover) {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
transition: 0.5s;
transform: scale(1);
}